*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh;
    background: linear-gradient(45deg, #F022D8, #CB23FA, #8A2BE3, #5923FA, #2228F0);
    background-size: 500% 500%;
    animation: cor 15s ease infinite;
}

@keyframes cor {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

.centro{
    display: flex; 
    align-items: center;
    justify-content: center;
}

#principal {
    background-color: white;
    width: 60%;
    /* height: 60%; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.76);
}

#titulo{
    /* display: inline-block; */
    width: 100%;
    /* background-color: cadetblue; */
    margin-top: 20px;
    padding:10px
}

#titulo h1{
    padding: 5px;
    font-size: 1.8rem;
}

#titulo p{
    padding: 5px;
    font-size: 1.0rem;
}

#apelido{
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: #757575;
    background-color: #f0f0f098;
    font-style: italic;
    font-size: 1.0rem;
    border: solid 1px #cecece;
}

#nome{
    width: 40%;
    padding: 10px;
    margin: 5px 0.5px 5px 5px;
    border-radius: 10px 0px 0px 10px;
    color: #757575;
    background-color: #f0f0f098;
    font-style: italic;
    font-size: 1.0rem;
    border: solid 1px #cecece;
}

#snome{
    width: 40%;
    padding: 10px;
    margin: 5px 5px 5px 0.5px;
    border-radius: 0px 10px 10px 0px;
    color: #757575;
    background-color: #f0f0f098;
    font-style: italic;
    font-size: 1.0rem;
    border: solid 1px #cecece;
}

#email{
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: #757575;
    background-color: #f0f0f098;
    font-style: italic;
    font-size: 1.0rem;
    border: solid 1px #cecece;
}

#env{
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    background-color: #5923FA;
}

#env:hover{
    background-color: #8A2BE3;
}

#divtermos{
    width: 80%;
    padding: 10px;
    margin: 5px;
    margin-left: 8%;
    font-size: 0.9rem;
}

#apelido:focus, #nome:focus, #snome:focus, #email:focus{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    /* border-radius: 10px; */
    border: solid 1px #cecece;
    /* outline: none; */
}

/* input:focus {
    outline: none;
  } */


/* Color Theme Swatches in Hex */
.Royal-purple-1-hex { color: #B335F7; }
.Royal-purple-2-hex { color: #8A29BE; }
.Royal-purple-3-hex { color: #7B25AA; }
.Royal-purple-4-hex { color: #8527B7; }
.Royal-purple-5-hex { color: #691F91; }